<h1>Stupid Coaching</h1>

<p id="info"><%=  params[:answer] %></p>
<p id="qui"> - You </p>
<br>
<br>
<p id="info"><%= @rep %></p>
<p id="qui"> - You coach</p>



<%= link_to 'Ask a new question', ask_path %>
