<h1 style="text-align: center;">Votre question</h1>

<p style="text-align: center;">Ask your coach anything : </p>

<form style="text-align: center;" action="/answer">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
